@model ParticipationViewModel
@{
    ViewBag.Title = "Live exceptionnel";
}


@{Html.RenderAction("EventDetails", "Event", new { eventId = Model.EventId });}
<div class="event-prizes-form">
    <p class="form__intro">Pour vous rendre au concert, <br>passez par le formulaire !</p>
    @Html.Partial("_EventPrizes")

    <form action="@Url.Action("Index", "Home")" method="post" class="form">
        @Html.AntiForgeryToken()

        <div class="form__group form__group--gender">
            <label for="civility">Civilité<sup>*</sup> :</label>
            <!-- civilité -->
            @Html.RadioButtonFor(model => model.Gender, Gender.Mr, new { id = "male" })<label for="male">M.</label>
            @Html.RadioButtonFor(model => model.Gender, Gender.Mrs, new { id = "female" })<label for="female">Mme</label>
        </div>
        <!-- nom -->
        <div class="form__group form__group--last-name">
            <label for="lastname">Nom*</label>
            @Html.TextBoxFor(model => model.Lastname, new { name = "lastname", id = "lastname" })
        </div>
        <div class="form__group form__group--first-name">
            <label for="name">Prénom*</label>
            @Html.TextBoxFor(model => model.Firstname, new { name = "name", id = "name" })
        </div>
        <div class="form__group form__group--last-name">
            <label for="email">Adresse mail*</label>
            @Html.TextBoxFor(model => model.Email, new { name = "email", id = "email" })
            @Html.ValidationMessage("Email")
        </div>
        <div class="form__group form__group--phone">
            <label for="tel">Numéro de téléphone</label>
            @Html.TextBoxFor(model => model.Phone, new { name = "tel", id = "tel" })
        </div>
        <div class="form__group form__group--terms">
            @Html.CheckBoxFor(model => model.Agreement, new { name = "agreement", id = "agreement" })<label for="agreement"> J'accepte le <a href="" target="_blank">règlement</a> du jeu-concours</label>
        </div>
        <div class="form__group form__group--optin">
            @Html.CheckBoxFor(model => model.Offers, new { name = "offers", id = "offers" })<label for="offers"> J'accepte de recevoir les offres commerciales de ibis Hôtels</label>
        </div>
        <p class="form__mandatory">*Champs obligatoires</p>

        <input type="submit" value="Valider" class="form__submit">
        <p class="form__errors" data-default-error="* Merci de remplir les champs obligatoires">@Html.ValidationSummary(true, "* Merci de remplir les champs obligatoires")</p>
    </form>
</div>
